

<!DOCTYPE html>
<html>

<head>
    <title>cMES Drive</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="~/Content/Login.css">



    <script defer src="~/Scripts/Login.js"></script>
</head>

<body>

    <div id="mainContent">
        <h1 id="cMEStitle">cMES Drive</h1>
    </div>


    <div class="element">
        <form class="form-md">
            <div class="form-group">
                <input id="form_name1" class="form-control" type="text" required>
                <label for="form_name1">Username<span class="gl-form-asterisk"></span></label>
            </div>

            <div class="form-group">
                <input id="form_name2" class="form-control" type="text" placeholder="" required>
                <label for="form_name2">Password<span class="gl-form-asterisk"></span></label>
            </div>
            <div><a id="loginlink" class="click-btn btn-style3" onclick="login()" href="#">Login</a></div>
        </form>
    </div>

    <!-- </div> -->


    <div id="Salcomp">  <img src="~/Resources/Salcomp_Vector.png" width="200" alt="Salcomp">   </div>



</body>
</html>


<!-- <div class="element"> -->
<!-- <div id="loginForm" class="element">

    <label id="userLabel">UserName</label>
    <input id="userInput" type="text" /><br /><br />
    <label id="passwordLabel">Password</label>
    <input id="passwordInput" type="text" /><br /><br />
    <button id="login" type="button" onclick="login()"> Login </button>
</div> -->
